body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{    background-color:rgb(235, 127, 168);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color:rgb(116, 3, 59);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: rgb(97, 4, 50);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

*.navigation a:hover{
    color: #ec54a8;}

section {
    padding: 100px 100px;
}

.container {
    
    margin: 0 auto;
    padding: 20px;
    background-image: url(./image27.jpg);
    background-size: cover;
}


.navbar {
    margin-bottom: 10px;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav .nav-link {
    padding: 20px 15px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-images {
    display: flex;
    width: 300%;
    justify-content: center;
}

.carousel-images img {
    width: 33.33%;
    height: auto;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    z-index: 1000;
    font-size: 24px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.video-section video {
    max-width: 100%;
}

.card-deck {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

 تصميم نصائح الموضة 
.video-section h2, .video-section p {
    margin-bottom: 20px;
}


.card {
    background-color: rgb(235, 127, 168);
    width: 20em;
    box-shadow: 0 5px 25px rgb(212, 5, 109);
    border-radius: 100px;
    width: 300px;
    padding: 70px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
     
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #ee0b4f;
    font-size: 2em; 
    text-align: center;
}
.footer{
    background-color: #ec54a8;
    justify-content: center;
}
.l1{
    color: aliceblue;
    align-items: center;
}
.links{
    color:aliceblue;
}